
<mat-card class="card">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Post an Item</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
    <form #itemsForm="ngForm" (ngSubmit)="onSubmit(itemsForm.value)">
        <div class="field">
            <mat-form-field  appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="" required name="name" ngModel>
            </mat-form-field>
        </div>
        


        <div class="field">
            <mat-form-field appearance="outline">
                <mat-label>Quantity</mat-label>
                <input matInput type="number" name="quantity" ngModel>
            </mat-form-field>
        </div>
        
        <div class="field">
            <mat-form-field  appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput placeholder="" required name="price" ngModel>
            </mat-form-field>
        </div>

        <div class="field">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput required name="description" ngModel rows="5" placeholder="Enter description"
                    style="resize: none;"></textarea> <!-- Added style="resize: none;" -->
            </mat-form-field>
        </div>

        <div class="field">
            <input type="file" style="display: none" #fileInput (change)="onFileSelected($event)" accept="image/*">
            <button mat-raised-button color="primary" (click)="onClickFileInputButton($event)">Add Image<mat-icon iconPositionEnd>image</mat-icon></button>
            <div *ngIf="image != null" style="display: inline-block; margin: 10px;">
                <img [src]="image" alt="Uploaded Image" style="max-width: 200px; max-height: 200px;">
            </div>
        </div>

        <div class="field" style="text-align: center; margin-top: 20px;">
            <button mat-raised-button color="primary" type="submit">Create Listing</button>
        </div>


    </form>
</mat-card>