<div class="header">
    <mat-form-field class="centered">
      <input matInput (keydown)="search($event)" placeholder="Search UMBC Online" [(ngModel)]= "searchText" value="">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class= 'pad'>
        <div *ngFor= 'let item of items' class= 'itemtile'> 
            <!-- loops through all items in home component .ts-->
            <itemcard [itemId]= item ></itemcard>
        </div>
    </div>
    <mat-paginator [length]="this.allItems != null && this.allItems.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="handlePageEvent($event)">
    </mat-paginator>
    <div style= "display: flex"> 
        <div class = "bottom_left">
            <a routerLink="/login">2024 UMBCONLINE.COM</a>
        </div> 
            <div class = "center">
                <a routerLink="/login">TERMS AND CONDITIONS</a>
            </div>
        <div class = "bottom_right ">
            <a routerLink="/login">PRIVACY POLICY</a>
        </div>
    </div>
    
</div>

