<mat-toolbar>
    <mat-toolbar-row>
        <span style= "flex: .5 .5 auto"></span>
        <span>UMBC Online</span>
        <span style= "flex: .5 .5 auto"></span>
        <a routerLink="/home">
            <button mat-icon-button color="primary">
                <mat-icon>home</mat-icon>
            </button>
        </a>
        <a routerLink="/login">
        <button mat-icon-button color="primary">
            <mat-icon>login</mat-icon>
        </button>
        </a>
        <button 
        mat-icon-button color="primary">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button 
        mat-icon-button color="primary" 
        *ngIf="!isDarkMode" 
        (click)="toggleDarkMode()">
            <mat-icon>sunny</mat-icon>
        </button>
        <button 
        mat-icon-button color="primary" 
        (click)="toggleDarkMode()"
        *ngIf="isDarkMode">
            <mat-icon>nightlight</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>