

<br />
<br />
<h1 class="header centered">
  Check your cart before you checkout!
</h1>


<div *ngIf="currReceipt && currReceipt.receiptItems.length > 0">
  <div class="receipt-container">
    <mat-card *ngFor="let rItem of currReceipt.receiptItems" class="receipt-card">
      <mat-card-header>
        <mat-card-title>{{ rItem.item.name }}</mat-card-title>
      </mat-card-header>
      <div class="content-container">
        <div class="image-container">
          <img mat-card-image [src]="rItem.item.imageURL" alt="Item Image">
        </div>
        <mat-card-content class="text-container">
          <p>Price: {{ rItem.item.price }}</p>
          <p>Quantity: {{rItem.item.quantity}}</p>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-button color="warn" (click)="onRemove(rItem.id)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br />
  
  <div style="text-align: center; font-weight: bold;">Total: {{ total }}</div>
</div>
<br />
<br />
<div style="text-align: center;">
  <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
</div>

