.centered {
  margin: auto;
  width: 400px;
}

.login {
  padding-top: 100px;
}

.header {
  text-align: center;
  padding-bottom: 20px;
}

.image {
  padding-bottom: 50px;
}

.mat-divider-vertical {
  height: 100%;
  width: 0px !important;
  position: inherit !important;
}

.receipt-card {
  width: calc(100% - 20px); 
  margin: 10px; /* Add margin between cards */
}

.image-container {
  height: 150px; /* Set max height for image container */
  display: flex;
  align-items: center; /* Center image vertically */
  justify-content: center; /* Center image horizontally */
  flex: 0 0 auto; /* Image container doesn't grow or shrink */
  margin-right: 20px; /* Adjust margin as needed */
}


.image-container img {
  max-width: 100%; /* Set maximum width to prevent overflow */
  max-height: 100%; /* Set maximum height to prevent overflow */
}
