.centered {
  margin: auto;
  width: 400px;
}

.login {
  padding-top: 100px;
}

.header {
  text-align: center;
  padding-bottom: 20px;
}

.image {
  padding-bottom: 50px;
}

.mat-divider-vertical {
  height: 100%;
  width: 0px !important;
  position: inherit !important;
}
