
<div style="margin-top: 30px">
    <div>
        <a *ngIf = "sellerErrors.length == 0" routerLink="/listing">
            <button style = "margin-left: 15px" mat-flat-button color="primary">Create a Listing</button>
        </a>
        <button *ngIf = "sellerErrors.length > 0"(click)="onBoard($event)" style = "margin-left: 15px" mat-flat-button color="warn"> Complete Seller Onboarding </button>
    </div>
</div>



<form class="header">
    <div class= 'pad'>
        <div *ngFor= 'let item of items' class= 'itemtile'> 
            <!-- loops through all items in home component .ts-->
            <itemcard [userProfile] = true [itemId]= item ></itemcard>
        </div>
        <mat-paginator style="width: 95%" [length]="this.allItems != null && this.allItems.length"
        [pageSize]="4"
        [pageSizeOptions]="[4, 8, 12, 16]"
        aria-label="Select page"
        (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
  </form>